* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-dark: linear-gradient(to bottom right, black, rgb(46, 7, 45), black);
  --bg-card: linear-gradient(to bottom right, black, rgb(46, 7, 45));
  --primary: rgb(85, 7, 83);
  --light-purple: rgb(242, 185, 241);
  --accent: rgb(94, 9, 93);
  --soft-bg: rgba(48, 7, 47, 0.37);
  --soft-bg2: rgba(81, 7, 80, 0.24);
  --white: #fff;
}

body {
  background: var(--bg-dark);
  min-height: 100vh;
  padding: 2%;
  font-family: "Garamond", serif;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 30px;
  padding-bottom: 10px;
}

.checkListDiv {
  background: rgba(81, 7, 80, 0.77);
  border-radius: 15px;
  padding: 20px;
}

.checkListIcone {
  font-size: 40px;
}

.titleText {
  color: var(--accent);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* WELCOME SECTION*/
.welcomSection {
  text-align: center;
  margin-top: 25px;
}

.welcomText {
  font-size: 55px;
}

.planTextInWelcom {
  color: var(--accent);
  font-size: 55px;
  margin-top: 10px;
}

.WelcomParagraph {
  font-size: 25px;
  margin-top: 15px;
}

/*CARD SECTION */
.cardSection {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.cardDiv {
  background: var(--bg-card);
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.cardIconeStyleDiv {
  background: rgba(65, 4, 64, 0.4);
  border-radius: 15px;
  padding: 20px;
  font-size: 35px;
  margin-bottom: 20px;
}

.titleIncardDiv {
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
}

.paraghraphIncardDiv {
  font-size: 17px;
  color: var(--light-purple);
  line-height: 1.5;
}

/* MAIN TASK LAYOUT*/
.newAndMangeTaskSection {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* NEW TASKS */
.addNewTaskSection,
.manageTaskSection {
  background: var(--soft-bg);
  border-radius: 15px;
  padding: 20px;
}

.addNewTaskSection {
  width: 28%;
  min-width: 280px;
}

.TitleInTaskSection {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.newTaskIcone {
  background-color: var(--primary);
  color: black;
  border-radius: 17px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INPUT FIELD */
#inputTaskField {
  background: var(--soft-bg2);
  color: var(--white);
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  outline: none;
}

#inputTaskField::placeholder {
  color: var(--light-purple);
}

#inputTaskField:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

/* SUBMIT BUTTON */
.btnSubmitTask {
  background: var(--primary);
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

/* MANAGE TASK SECTION */
.manageTaskSection {
  width: 65%;
  min-width: 300px;
}

/* TABS */
.tabSwitcher {
  background: rgb(34, 1, 34);
  padding: 8px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tabSwitcherBtn {
  flex: 1;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 12px 0;
  border-radius: 25px;
  cursor: pointer;
}

.tabSwitcherBtn:focus {
  background: var(--primary);
}

.tasksList {
  list-style: none;
  font-size: 22px;
  margin-top: 20px;
}

/* TASK ITEM */
.taskItemClass {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px 10px;
  border-radius: 8px;
  margin-bottom: 6px;
}

.deleteBtn {
  margin-left: auto;
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.deleteBtn:hover {
  color: darkred;
}

/* RESPONSIVE DESIGN  */
@media (max-width: 992px) {
  .welcomText,
  .planTextInWelcom {
    font-size: 45px;
  }

  .cardSection {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .welcomText,
  .planTextInWelcom {
    font-size: 35px;
  }

  .newAndMangeTaskSection {
    flex-direction: column;
  }

  .addNewTaskSection,
  .manageTaskSection {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .welcomText,
  .planTextInWelcom {
    font-size: 28px;
  }

  .paraghraphIncardDiv {
    font-size: 16px;
  }

  .tasksList {
    font-size: 18px;
  }
}
